body{
	background-image: linear-gradient(#0000ff, #f0f0f0, #0000ff);
	height:100vh;
	margin: 0;
	position: relative;
}


.index {
text-align: center;
width: 100%;
position:absolute;
top:50%;
transform: translateY(-50%);
font-family: campaign, sans-serif;
font-weight: 900;
font-style: normal;
font-size: 2.5em;
line-height: 2em;
}

a
{
   text-decoration:none;
   color: black;
}

a.underlined
{
   text-decoration:underline;
}

.index a:hover{
	color: #0000ff;
}